@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin positionGrid {
    display: grid;
    place-items: center;
}

$greyColor: rgb(226, 224, 209);
$blueColor: rgb(15, 15, 228);
$hoverColor: rgb(104, 232, 232);

body {
    min-height: 100vh;
    @include positionGrid;
    gap: 1rem;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

.container {
    @include positionGrid;
    grid-template-columns: 0.15fr 1fr 0.15fr;
}

.next-btn {
    order: 3;
}

.title {
    font-size: 5rem;
    color: $greyColor;
    text-shadow: 0.2rem 0.2rem 0.2rem $blueColor;
}

.slider {
    width: 62.5rem;
    height: 43.75rem;
    border: 0.425rem solid $greyColor;
    overflow: hidden;
    order: 2;
}

.slider-line {
    width: 437.5rem;
    height: 43.75rem;
    left: 0;
    display: flex;
    position: relative;
    transition: all 0.3s ease-out;
}

.arrow-button {
    font-size: 2rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    color: $blueColor;
    background-color: $greyColor;
    border: none;
    cursor: pointer;
    transition: all 1s ease-out;

    &:hover,
    &:focus {
        transform: scale(1.1);
        background-color: $hoverColor;
        color: $greyColor;
    }

    &[disabled] {
        color: $greyColor;
        background-color: $blueColor;
    }
}

footer {
    @include positionGrid();
}

.author {
    font-family: 'MonteCarlo', cursive;
    color: $blueColor;
}

@media screen and (max-width: 1150px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0rem 3rem;
    }

    .arrow-button {
        margin-top: 2rem;
    }

    .prev-btn {
        margin-right: 6rem;
        order: 2;
    }
}

@media screen and (max-width: 900px) {
    .slider {
        width: 50rem;
        height: 43.75rem;
    }

    .slider-line {
        width: 350rem;
        height: 43.75rem;
    }

    .slider-line > img {
        width: 50rem;
        object-fit: cover;
    }
}

@media screen and (max-width: 700px) {
    .container {
        padding: 0rem 1.5rem 0rem 1rem;
    }
    .slider {
        width: 40rem;
    }

    .slider-line {
        width: 280rem;
    }

    .slider-line > img {
        width: 40rem;
    }
}

@media screen and (max-width: 450px) {
    .slider {
        width: 30rem;
    }

    .slider-line {
        width: 210rem;
    }

    .slider-line > img {
        width: 30rem;
    }
}