* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.slider {
    width: 43.75rem;
    height: 31.25rem;
    border: 0.125rem solid black;
}

.slider-line {
    width: 306.25rem;
    height: 31.25rem;
    display: flex;
    position: relative;
    transition: all 1s ease-out;
}

.arrow-button {
    font-size: 2rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    background-color: rgb(0, 119, 255);
    border: none;
    cursor: pointer;
    transition: all 1s ease-out;

    &:hover,
    &:focus {
        transform: scale(1.1);
        background-color: rgb(86, 202, 202);
    }
}
